img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}



.style{
    text-align: center;
    background-color:rgb(247, 245, 244);  
    width: 300px;
    align-items: center;
    color:rgb(228, 166, 8);
}
.afstyle{
    background-color: black;
    color: white;
}
.bookingstyle{
    text-align: center;
    color: black;
    background-color: black;
    width: 300px;
    align-items: center;
    color: whitesmoke;

}
.aboutstyle{
    text-align: center;

}
.checkinstyle{
    background-color: black;
    color: white;
}


  